{{layout "org.wso2.carbon.uuf.common.foundation.ui.main"}}
{{title "Fragment Samples | " @config.appName}}
{{fragment "org.wso2.carbon.uuf.common.foundation.ui.uuf-client"}}
{{css "css/styles.css"}}

{{#fillZone "content"}}
    <h3>Pushing a fragment</h3>
    <hr />
    <p>You can render a fragment and push it to a zone in a page using the <b>uuf-client</b> library.</p>
    <p>Syntax : <code>UUFClient.renderFragment(fragmentFullyQualifiedName, templateFillingObject, zoneName,
                      mode);</code></p>

    <p>The <b>mode</b> can be one of the following.</p>
    <ul>
        <li>"PREPEND" - put the pushing content before the existing content</li>
        <li>"APPEND" - put the pushing content after the existing content</li>
        <li>"OVERWRITE" - replace the existing content with the pushing content</li>
    </ul>

    <p>Add <b>uuf-client</b> fragment to the page.</p>
    <pre>\{{fragment "org.wso2.carbon.uuf.common.foundation.ui.uuf-client"}}</pre>

    <p>You can use the <b>uuf-client</b> library in the client side JS file like below.</p>
    <pre>UUFClient.renderFragment("org.wso2.carbon.uuf.common.foundation.ui.message", {"msgClass":"test", "class":"test","msgBody":"sample"}, "content", "APPEND");</pre>

    <h3 style="margin-top: 40px;">Demo</h3>
    <hr />
    <P>In here, <b>message</b> fragments will be pushed to the <b>sample-area</b> zone.</P>

    <div class="col-lg-6">
        <form>
            <div class="form-group col-lg-12">
                <div class="col-lg-4">
                    <label for="message">Message</label>
                    <input type="text" class="form-control" id="message" placeholder="Enter message here"/>
                </div>
            </div>
            <div class="form-group col-lg-12">
                <div class="col-lg-3">
                    <label for="mode">Mode</label>
                    <select class="form-control" id="mode">
                        <option value="PREPEND" selected>PREPEND</option>
                        <option value="APPEND">APPEND</option>
                        <option value="OVERWRITE">OVERWRITE</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-2">
                    <button id="pushToZone" class="btn btn-primary" type="button">Push</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-lg-12 add-margin-2x" style="background-color: #f5f5f5; ">
        {{#defineZone "sample-area"}}
            <div id="spinner" style="display: none;">
                <i class="fw fw-loader5 fw-spin fw-5x absolute-center"></i>
            </div>
            <h3>This is the <b>sample-area</b> zone. Try pushing message fragments to this zone.</h3>
        {{/defineZone}}
    </div>
{{/fillZone}}

{{js "js/fragment-rendering.js"}}
